<footer>
    <div class="f">
        <div class="f-socials">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="bi bi-airplane-fill"></i>        
        </div>
        
        <div class="f-info">
                     
            <p> &copy; Wanderlust Limited</p>
        </div>
        <div class="f-link">
           <a href="/privacy">privacy</a>
           <a href="/terms">Terms</a>
        </div>

    </div>
</footer>