<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Listings</title>
</head>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>Create Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name=listing[title] placeholder="enter title" type="text" required class="form-control"/>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please enter valid title</div>
        </div>
        <div class="mb-3">
            <i><%=listing.owner.username%></i>
            <br/>
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" type="text" required class="form-control">enter description</textarea>
        <div class="valid-feedback">Description  looks good</div>
        <div class="invalid-feedback">Please enter valid description</div>
        </div>

        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input name=listing[price] placeholder="enter price" required type="number" class="form-control"/>
        <div class="valid-feedback">Price  looks good</div>
        <div class="invalid-feedback">Please enter valid price.</div>
        </div>
        
        <div class="mb-3">
            <label for="Image" class="form-label">Image</label>
            <input name=listing[image]  required type="file" class="form-control"/>
            <div class="valid-feedback">Link  looks good</div>
            <div class="invalid-feedback">Please enter valid link.</div>
            required
        </div>
        </div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name=listing[location] placeholder="enter location" required type="text" class="form-control"/>
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Please enter valid location.</div>
        <div>
        <div class="mb-3">
        <label for="Country" class="form-label">Country</label>
        <input name=listing[country] placeholder="enter country" required type="text" class="form-control"/><br>
        <div class="valid-feedback">Country looks good</div>
        <div class="invalid-feedback">Please enter valid country.</div>
        </div>
        <br/><br/>
  
        <button class="btn btn-black">Add</button>
    </form>
    </div>
    </div>
    
</body>
</html>
